<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   <title>Add Book | <%=title%></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="/css/loginstyle.css";>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <!-- <a class="navbar-brand" href="#">LibM </a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="<%=nav[0].link%>"><%=nav[0].name%></a>
        </li>
        <li class="nav-item  ">
         <a class="nav-link" href="<%=nav[1].link%>"><%=nav[1].name%></a>
       </li>
       <li class="nav-item ">
          <a class="nav-link" href="<%=nav[2].link%>"><%=nav[2].name%></a>
        </li>
        <li class="nav-item  ">
          <a class="nav-link" href="<%=nav[7].link%>"><%=nav[7].name%></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="<%=nav[8].link%>"><%=nav[8].name%></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="<%=nav[5].link%>"><%=nav[5].name%></a>
        </li>
      
   
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Edit Profile</a>
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Notifications</a>
          </div>
        </li> -->
        
      </ul>
      
    </div>
  </nav>
  <section id="main">

<div class="container" id="lib">

  <h2 id="library" >Edit Book</h2>
  
</div>
<div class="container" id="cinput">
  
  
 
    <h1>Edit Book</h1><br>
    <div class="wrap">
    
      <form method="POST"  action="/books/edit/<%=book._id%>" >  

         Title:<br>
          <input id="uname" type = "text" name="title" placeholder="Alchemist" value="<%=book.title%>" required ><br><br>
         Author:<br>
          <input id="uname" type = "text" name="author" placeholder="Paulo Coehlo" value="<%=book.author%>" required ><br><br>
         Genre:<br>
          <input id="uname" type = "text" name="genre" placeholder="Fantasy" value="<%=book.genre%>" required ><br><br>
         Choose an Image:

       <input type="file" name="image"
                               
       accept="image/png, image/jpeg" style="font-family: Arial, Helvetica, sans-serif;"><br><br>
         <button id="add" type="submit">Update</button><br><br>
          
          
      </form>
      
  </div>
 
 

</div>



<div class="container">
<h3 id="hf"> Follow Us</h3>
<nav aria-label="tfg">
  <ul class="pagination pagination-md">
    <li class="page-item">
      <a class="page-link" id="twitter" href="https://twitter.com/"target="_blank">Twitter</a>
    </li>
    <li class="page-item" ><a class="page-link" id="facebook" href="https://www.facebook.com/"target="_blank">Facebook</a></li>
    <li class="page-item" ><a class="page-link" id="gplus" href="https://google.com/"target="_blank">Google+</a></li>
  </ul>
</nav>
</div>
</section>
    

</body>
</html>