<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   <title>Home | <%=title%></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css";>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <!-- <a class="navbar-brand" href="#">LibM </a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li> -->
 
        <li class="nav-item ">
          <a class="nav-link" href="<%=nav[3].link%>"><%=nav[3].name%></a>
        </li>
        <li class="nav-item ">
         <a class="nav-link" href="<%=nav[4].link%>"><%=nav[4].name%></a>
       </li>

         
   
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Edit Profile</a>
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Notifications</a>
          </div>
        </li> -->
        
      </ul>
      
    </div>
  </nav>
  <section id="main">

<div class="container" id="lib">

  <h2 id="library" ><%=title%></h2>
  
</div>


<div class="container" id="c1">
  
  
  <img src="images/bill.jpg" alt="Avatar" class="avatar">
  
    <h3 id="hc1">Bill Gates</h3>
    <button id="link" onclick=" window.open('https://www.microsoft.com/en-in/','_blank')">microsoft.com</button>
    
    <p id="det">May 23, 2020 * 
    <a href="https://www.spokesman.com/stories/2020/may/23/bill-gates-chooses-his-five-favorite-books-for-sum/" target="_blank">Read More</a></p>

   <hr>
</div>



<div class="container" id="c2">
 
  <img src="images/musk.jpg" alt="Avatar" class="avatar">
  <h3 id="hc2">Elon Musk</h3>
  <button id="link" onclick=" window.open('https://www.tesla.com/','_blank')">tesla.com</button>
  <p id="det">May 24, 2020 * 
  <a href="https://www.theguardian.com/science/2020/may/24/elon-musks-spacex-to-launch-first-astronauts-from-us-soil-since-2011" target="_blank">Read More</a></p>
  <hr>
 
</div>
<div class="container" id="c3">
 
  <img src="images/sundar.jpg" alt="Avatar" class="avatar">
  <h3 id="hc3" >Sundar Pichai</h3>
  <button id="link" onclick=" window.open('http://google.com','_blank')" >google.com</button>
  <p id="det">May 19, 2020 * 
  <a href="https://www.theverge.com/2020/5/19/21262934/google-alphabet-ceo-sundar-pichai-interview-pandemic-coronavirus" target="_blank">Read More</a></p>
  <hr>
<button id="more">More</button>
 
</div>
<div class="container">
<h3 id="hf"> Follow Us</h3>
<nav aria-label="tfg">
  <ul class="pagination pagination-md">
    <li class="page-item">
      <a class="page-link" id="twitter" href="https://twitter.com/"target="_blank">Twitter</a>
    </li>
    <li class="page-item" ><a class="page-link" id="facebook" href="https://www.facebook.com/"target="_blank">Facebook</a></li>
    <li class="page-item" ><a class="page-link" id="gplus" href="https://google.com/"target="_blank">Google+</a></li>
  </ul>
</nav>
</div>
</section>
    

</body>
</html>